@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    
}
:root {
    --main-color:#842BD2;
    --primary-color:rgb(243, 243, 243);
    --font-main:rgb(243, 243, 243);
}