.live-class-container>h2{
    text-align: center;
    color: #811ed8;
}
.live-class-flex{
    display: flex;
    border: 2px solid #811ed8;
    margin:8px;
}
.previous, .current, .next{
    flex:30%;
    border: 2px solid #811ed8;
    color: #811ed8;
    margin: 2px;
    text-align: center;
}
.current{
    background-color:var(--main-color);
    color:var(--font-main);
}