.nav-container{ 
    display: flex;
    margin-top:10px;
}

.nav-list{
    list-style-type: none;
    display: flex;
}
.nav-container>h2{
    padding: 0.2em;
    padding-left: 2em;

}
.nav-container>h2,.nav-list{
    flex:1;
}
.nav-list>li{ 
    flex: 1;
    text-align: center;
    margin-right: 15px;
    padding: 0.7em;
    border-radius:20px;
    transition:0.4s;
}
.nav-list>li:hover{ 
    -webkit-box-shadow:1px 1px 20px white;
    box-shadow:1px 1px 20px #fff;
    background-color:#f7f3f3;
    color:#000;
}
.nav-button{
    display:none;
    position:absolute;
    right: 10px;
    top: 7px;
    padding: 10px;
    color:#fff;
    font-size:22px;
}
@media (max-width: 615px){
    .nav-list{
        flex-direction: column;
        margin-right: 10px;
        height: auto;
        padding:10px;
        border-radius:15px;
        margin-top:50px;
        background-color:rgb(110, 104, 104);
        z-index: 1000;
        position: relative;
    }
    .nav-list>li{
        margin-top:10px;
        text-align: center;
        width: 100%;
        margin-right: 0;
    }
    .nav-button{
        display:block;
    }
}